@import './base.css';

:root {
  --side-bar-display: block;
  --content-padding-left: 0;
  --content-align-items: center;
  --userID-display: block;
  --LOGO-display: block;
  --color-main: teal;/* 主题色 */
  --color-main-darker: rgb(0, 92, 92);
}

@media screen and (max-width: 84rem) {
  :root {
    --content-padding-left: 14rem;
    --content-align-items: flex-start;
  }
}

@media screen and (max-width: 66rem) {
  :root {
    --content-padding-left: 4rem;
    --content-align-items: center;
    --userID-display: none;
    --LOGO-display: none;
  }
}

@media screen and (max-width: 62rem) {
  :root {
    --content-padding-left: 4rem;
    --content-align-items: flex-start;
  }
}
